<?xml version="1.0" ?>
<!--
/**
* Harsh Bhinsara.
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.md.
*
* @package   Hrb_MostViewed
* @author    Harsh Bhinsara
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <most_viewed>
                <enabled>0</enabled>
                <number_of_list>5</number_of_list>
                <list_title>Most Viewed</list_title>
            </most_viewed>
        </catalog>
    </default>
</config>
